@model IEnumerable<PC4U.Models.CartProduct>

@{
    ViewBag.Title = "Shopping cart";
}

<style>
    #totals {
        width: 30%;
    }

    #totals tr td {
        border-top: 0px;
        width: 0 auto;
    }

    #totals tr {
        font-weight: bold;
    }

    .custom-style-button {
        width: 20px;
    }
</style>

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfProducts)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            @using (Html.BeginForm("Edit", "Carts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <td>
                    <input style="max-width:20%;" class="form-control" data-val="true" data-val-number="This field must contain a number." data-val-required="This field is required." id="item_AmountOfProducts" name="AmountOfProducts" type="number" value="@item.AmountOfProducts">
                    <input data-val="true" data-val-number="This field must contain a number." data-val-required="This field is required." id="item_ShoppingCartId" name="ShoppingCartId" type="hidden" value="@item.CartId">
                    <input data-val="true" data-val-number="This field must contain a number." data-val-required="This field is required." id="item_ProductId" name="ProductId" type="hidden" value="@item.ProductId">
                </td>
                <td class="custom-style-button">
                    <input type="submit" value="Edit" class="btn btn-default" />
                </td>
            }
            @using (Html.BeginForm("Delete", "Carts", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <td class="custom-style-button">
                    <input data-val="true" data-val-number="This field must contain a number." data-val-required="This field is required." id="item_ShoppingCartId" name="ShoppingCartId" type="hidden" value="@item.CartId">
                    <input data-val="true" data-val-number="This field must contain a number." data-val-required="This field is required." id="item_ProductId" name="ProductId" type="hidden" value="@item.ProductId">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </td>
            }
        </tr>
    }
</table>
<table id="totals" class="table">
    <tr>
        <td>Total non-VAT price</td>
        <td>@ViewBag.PriceNonVat</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>@ViewBag.Vat</td>
    </tr>
    <tr>
        <td>Total price</td>
        <td>@ViewBag.PriceVat</td>
    </tr>
</table>
<div style="margin-left:5px;">
    @using (Html.BeginForm("PreCheckout", "Carts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Continue to order" class="btn btn-default" />
    }
</div>
