@model IEnumerable<PC4U.Models.CartProduct>

@{
    ViewBag.Title = "Factuur";
    Layout = null;
}

<p>Dear @ViewBag.Aanhef,
<br />
<br />
Invoice:
<br />
<br />
</p>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfProducts)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfProducts)
            </td>
        </tr>
    }
</table>
<br />
<table class="table-bordered">
    <tr>
        <td>Total non-VAT price</td>
        <td>@ViewBag.PriceNonVat</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>@ViewBag.Vat</td>
    </tr>
    <tr>
        <td>Total price</td>
        <td>@ViewBag.PriceVat</td>
    </tr>
</table>

<p>
    <br />
    <br />
    Yours sincerely,
    <br />
    <br />
    PC4U
</p>