@model PC4U.Models.Product

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("AddToCart", "ShoppingCarts", FormMethod.Post))
{
    <div style="margin-top:20px;">
        @Html.ActionLink("Back to List", "Index")
        <hr />
    </div>

    @Html.HiddenFor(model => model.ProductId)

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- Main Image -->
            <div class="product-main-image-container">
                @{
                    if (Model.Image.Count == 0)
                    {
                        <img src="http://placehold.it/400x400" style="max-height: 400px;" alt="">
                    }
                    else
                    {
                        <img src="data:image/jpg;base64,@PC4U.Helpers.CustomConverter.ConvertByteArrayToString(Model.Image.FirstOrDefault().EncodedImage)" style="max-height:400px; max-width:400px;" alt="" />
                    }
                }
            </div>
        </div>

        <div class="visible-xs">
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="well product-short-detail">
                <div class="row">
                    <div class="the-list">
                        <h3 class="col-xs-12">
                            <!-- <span class="price-old">$169</span> -->
                            @Html.DisplayFor(model => model.ProductName)
                        </h3>
                    </div>
                    <div class="the-list">
                        <h5 class="col-xs-12">
                            <!-- <span class="price-old">$169</span> -->
                            @Html.DisplayFor(model => model.Category.CategoryName)
                        </h5>
                    </div>
                    <div class="the-list">
                        <h3 class="col-xs-12">
                            <!-- <span class="price-old">$169</span> -->
                            @Html.DisplayFor(model => model.Price)
                        </h3>
                    </div>
                    <hr>
                    <div class="col-xs-12 input-qty-detail">
                        <input type="submit" class="btn btn-default" value="Toevoegen aan winkelwagen" />
                    </div>
                    <div class="clearfix"></div><br>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br clear="all">
    </div>
}