@model PagedList<PC4U.Models.Product>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    <link href="~/Content/shop-homepage.css" type="text/css" rel="stylesheet" />
}

<div class="row">

    <div class="col-md-3">
        <p class="lead">PC4U</p>
        <div class="list-group">
            @foreach (var item in ViewBag.Categories as List<PC4U.Models.Category>)
            {
                @Html.ActionLink(item.CategoryName, "Index", new { categoryId = item.CategoryId, order = Request.QueryString["sort"] }, new { @class = "list-group-item" });
            }
        </div>
        <div class="list-group">
            @Html.ActionLink("Price ascending", "Index", new { categoryId = Request.QueryString["categoryId"], order = "Asc" }, new { @class = "list-group-item" })
            @Html.ActionLink("Price descending", "Index", new { categoryId = Request.QueryString["categoryId"], order = "Desc" }, new { @class = "list-group-item" })
        </div>
    </div>

    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-sm-4" style="height:320px; max-width:320px; margin-top:20px;">
                <div class="thumbnail">
                        @foreach (PC4U.Models.Image image in item.Image)
                        {
                            <img src="data:image/jpg;base64,@PC4U.Helpers.Helper.ConvertByteArrayToString(image.EncodedImage)" style="max-height: 180px;" alt=""/>
                        }
                        @if (item.Image.Count == 0)
                        {
                            <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=320%C3%97250&w=320&h=250" style="max-height: 180px;" alt="">
                        }
                    <div class="caption" style="height: 130px;">
                        <h4>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </h4>
                        <hr />
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                        <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Price)</h4>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
@section Paging{
    <div class="col-sm-12" style="margin-bottom:100px;">
        <div style="display:inline-block; float:right; text-align:right">
            @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { categoryId = Request.QueryString["categoryId"], order = Request.QueryString["order"], pageNumber, pageSize = Model.PageSize }))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount products
        </div>
    </div>
}
