@model IEnumerable<PC4U.Models.ShoppingCartProduct>

@{
    ViewBag.Title = "Winkelwagen";
}

<h2>Winkelwagen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfProducts)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            @using (Html.BeginForm("EditCart", "ShoppingCarts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <td style="max-width:50px;">
                    <input class="form-control" data-val="true" data-val-number="The field AmountOfProducts must be a number." data-val-required="The AmountOfProducts field is required." id="item_AmountOfProducts" name="AmountOfProducts" type="number" value="@item.AmountOfProducts" style="max-width:70px">
                    <input data-val="true" data-val-number="The field ShoppingCartId must be a number." data-val-required="The ShoppingCartId field is required." id="item_ShoppingCartId" name="ShoppingCartId" type="hidden" value="@item.ShoppingCartId">
                    <input data-val="true" data-val-number="The field ProductId must be a number." data-val-required="The ProductId field is required." id="item_ProductId" name="ProductId" type="hidden" value="@item.ProductId">
                </td>
                <td>
                    <input type="submit" value="Wijzig" class="btn btn-default" style="float:right;" />
                </td>
            }
            <td style="max-width:60px; width:100px;">
                @using (Html.BeginForm("DeleteFromCart", "ShoppingCarts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input data-val="true" data-val-number="The field ShoppingCartId must be a number." data-val-required="The ShoppingCartId field is required." id="item_ShoppingCartId" name="ShoppingCartId" type="hidden" value="@item.ShoppingCartId">
                    <input data-val="true" data-val-number="The field ProductId must be a number." data-val-required="The ProductId field is required." id="item_ProductId" name="ProductId" type="hidden" value="@item.ProductId">
                    <input type="submit" value="Verwijder" class="btn btn-default" style="float:right;" />
                }
            </td>
        </tr>
    }
</table>
